<template>
    <div class="col-md-6 offset-md-3">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="card">
                <div class="card-header">
                    <label for=""><strong>Titular:</strong></label><span>{{account.user.name +' '+account.user.last_name}}</span>
                    <label for=""><strong>Cuenta:</strong></label><span>{{account.account_number}}</span>
                    <label for=""><strong>Tipo:</strong></label><span>{{account.account_type}}</span>
                </div>
                <div class="card-body" style="display: block;">
                    <div class="row">
                        <div class="col-md-6">
                           <button type="button" @click="withdraw = true" class="btn btn-block btn-primary btn-sm">Retirar</button>
                            <router-link :to="{name: 'login'}" tag="button" class="btn btn-block btn-danger btn-sm">Salir</router-link>
                        </div>
                        <div class="col-md-6">
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>Saldo : $ {{account.amount_available}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white p-0" style="display: block;">
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" v-if="withdraw">
                                <label for="">Cantidad:</label>
                                <input type="number" class="form-control" v-model="amountWithdraw">
                                <button type="button" @click="withdrawRequest" class="btn btn-block btn-primary btn-sm">Retirar</button>
                            </div>

                        </div>
                        <div class="col-md-6" v-if="successWithdraw">
                            <div>
                                <label for=""><strong>Retiro:</strong></label><span> ${{transaction.amountWithdraw}}</span>
                            </div>
                            <div>
                                <label for=""><strong>Saldo antes comisión:</strong></label><span> ${{transaction.balanceAfterWithdraw}}</span>
                            </div>
                            <div>
                                <label for=""><strong>Comisión:</strong></label><span> $ {{transaction.commissionWithdraw}}</span>
                            </div>
                            <div>
                                <label for=""><strong>Saldo final:</strong></label><span> $ {{transaction.balanceAfterWithdrawAndCommission}}</span>
                            </div>
                        </div>
                        <div v-else>
                            <label for="" class="badge badge-danger">{{error}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import config from '../config.js';
    export default {
        props: ['accountInformation'],
        data(){
            return {
                account: this.accountInformation,
                withdraw : false,
                transaction: null,
                amountWithdraw: 0,
                successWithdraw:  false,
                error: "",
            }
        },
        mounted() {
            console.log("account");
            axios.get(config.hostname+'/account')
            .then((response)=>{
                this.accounts = response.data.data;
            })
        },
        methods: {

            withdrawRequest() {
                 this.successWithdraw = false;
                axios.post(config.hostname+'/withdraw',{
                    accountNumber: this.accountInformation.account_number,
                    amountWithdraw : this.amountWithdraw,
                })
                .then((response) =>{
                    if(response.status == 200){
                        this.account.amount_available = response.data.balanceAfterWithdrawAndCommission;
                        this.transaction = response.data;
                        this.successWithdraw = true;
                    }             
                })
                .catch((error) => {
                    console.log(error.response.data.error)
                    this.error = error.response.data.error;
                });

                this.amountWithdraw = 0;
                this.withdraw = false;
                console.log("succes" + this.successWithdraw);
            }
        }
    }
</script>