<template>
    <div class="row">
        <div class="col-md-4 offset-md-4" >
            <div class="form-group">
                <label for="">Número de cuenta</label>
                <select name="" id="" class="form-control" v-model="number_account">
                    <option v-for="account in accounts" :value="account.account_number" v-bind:key="account.id">{{account.account_number +' '+ account.account_type}}</option>
                </select>
            
            </div>
            <!-- <div class="form-group">
                <label for="">NIP(1234)</label>
                <input type="password" class="form-control" v-model="nip">
            </div> -->
            <button type="button" @click="accept" class="btn btn-success">Aceptar</button>
            
        </div>
    </div>
</template>

<script>
    import config from '../config.js';
    export default {
        data(){
        return {
            accounts: null,
            number_account: null,
            nip: null
        }
    },
    mounted() {
        axios.get(config.hostname+'/account')
        .then((response)=>{
            this.accounts = response.data.data;
        })
    },
    methods:{
        accept(){
            axios.post(config.hostname+'/account',{
                account_number : this.number_account,
                nip : this.nip
            })
            .then((response) => {
                if(response.status == 200){
                    console.log(response.data.data)
                    this.$router.push({name:'account', params: {accountInformation: response.data.data}});
                }

            })
        }
    }
    }
</script>